body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.completed .text-decoration-line-through {
  text-decoration: line-through;
  color: gray;
}

.custom-checkbox {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.list-group-item {
  display: flex;
  align-items: center;
}

.due-date {
  margin-right: 0.5rem;
}

.fixed-width {
  min-width: 70px;
}

.overdue {
  background-color: #f8d7da !important;
  color: #721c24 !important;
  border-color: #f5c6cb !important;
}

@media (max-width: 600px) {
  .d-flex.align-items-center {
    flex-direction: column;
    align-items: flex-start;
  }

  .d-flex.align-items-center .input-group,
  .d-flex.align-items-center .due-date,
  .d-flex.align-items-center .ms-auto {
    width: 100%;
  }

  .d-flex.align-items-center .ms-auto {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
  }
}
